*{
    padding: 0;
    margin: 0;
}

.active {
    font-weight: bold;
    color: #692aa9;
  }
  @media screen and (min-width: 1200px) {
    #header-img{
      padding-bottom: 500px;
    }
  }
@media screen and (max-width: 1000px) {
    #about-img{
        display: none;
    }
  }